.housecard {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(179, 179, 179, 0.5);

  &:hover {
  }

  .icon__diedout {
    width: 24px;
    height: 24px;
    margin-top: -8px;
  }
}