.housecard {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(179, 179, 179, 0.5);

  &:hover,  &:focus {
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    transition-property: box-shadow,transform,-webkit-box-shadow,-webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
  }

  .icon__diedout {
    width: 24px;
    height: 24px;
    margin-top: -8px;
  }
}
